/*------------------------------------
PC First
 - 1280px~: desctop pc
 - 960px~1279px: laptop pc
 - 600px~959px: tablet
 - 480px~599px: mobile phone (sideways)
 - ~479px: mobile phone (vertically)
------------------------------------*/

/* common */
/* 1280px~: desctop pc
------------------------------------*/
html { font-size: 62.5%; }

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  font-size: 1.6rem;
  background-color: #fff;
}

p { margin: 0; }

header { }

.header-nav {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #fff;
  box-shadow: 0px 1px 20px 1px #eee;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.header-title {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

main {
  width: 1000px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.card {
  background-color: #fff;
  box-shadow: 0px 1px 20px 1px #eee;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem / 0.2rem 0.2rem 0.2rem 0.2rem;
  padding: 5px;
  margin: 5px;
}

.today-date {
  width: 100%;
  margin: 3.0rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.today-date::after {
  content: "";
  width: 600px;
  height: 0.1rem;
  background-color: black;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem / 0.2rem 0.2rem 0.2rem 0.2rem;
}

.today-is {
  color: gray;
  font-size: 1.5rem;
}

.today-date-content {
  font-size: 3.0rem;
}

footer { }

.footer-nav {
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 20px 1px #eee;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.footer-copyright {
  font-size: 12px;
  color: gray;
}

/* 960px~1279px: laptop pc
------------------------------------*/
@media screen and (min-width: 960px) and (max-width: 1279px) {

}

/* 600px~959px: tablet
------------------------------------*/
@media screen and (min-width: 600px) and (max-width: 959px) {

}

/* 480px~599px: mobile phone (sideways)
------------------------------------*/
@media screen and (min-width: 480px) and (max-width: 599px) {

}

/* ~479px: mobile phone (vertically)
------------------------------------*/
@media screen and (max-width: 479px) {

}



