<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>次の連休はいつ？</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <header>
      <nav class="header-nav">
        <a class="header-title" href="index.html">Next Consecutive Holiday?</a>
      </nav>
    </header>
    <main>
      <div class="today-date">
        <p class="today-is">Today is</p>
        <p id="today-date-content" class="today-date-content"></p>
      </div>

      <div>
        <p id="holiday-list" class="holiday-list"></p>
      </div>

    </main>
    <footer>
      <nav class="footer-nav">
        <p class="footer-copyright">&copy; 2019 Kanji Yamaguchi</p>
      </nav>
    </footer>
    <script src="../static/js/main.js"></script>
  </body>
</html>
